How to work with multiple issuers

Hi,
I need to support tokens from multiple issuers. Can I implement this use-case with this library? Should I have multiple providers, how I can validate token that can match one of my issuers? Any example of the code will be really helpful.

I've done this, but it was complex enough that I'm considering publishing my solution as a separate crate. Unfortunately, I made it before the oauth2-reqwest crate dropped, so it has some minor incompatibilities. Right now the core of it looks like this:

```
pub trait Provider: Sized + Clone + Send + Sync + 'static {
    const ISSUER_URL: &'static str;
    const PROVIDER_NAME_LOWERCASE: &'static str;

    const AUTH_URL: &'static str;
    const DEVICE_AUTHORIZATION_URL: &'static str;
    const REVOCATION_URL: &'static str;
    const TOKEN_URL: &'static str;
    const USER_INFO_URL: &'static str;

    fn client_id() -> Result<ClientId, VarError>;
    fn client_secret() -> Result<ClientSecret, VarError>;
    fn issuer_url() -> Result<IssuerUrl, ParseError> {
        IssuerUrl::new(Self::ISSUER_URL.to_string())
    }

    #[allow(dead_code)]
    fn issuer_url_str(&self) -> &'static str {
        Self::ISSUER_URL
    }

    fn redirect_url() -> Result<RedirectUrl, ParseError>;

    fn add_endpoints_to_client<
        AC: AdditionalClaims + 'static,
        AD: AuthDisplay + 'static,
        GC: GenderClaim + 'static,
        JT: JsonWebKeyType + 'static,
        JE: JweContentEncryptionAlgorithm<KeyType = JT> + 'static,
        JS: JwsSigningAlgorithm<KeyType = JT> + 'static,
        K: JsonWebKey<SigningAlgorithm = JS> + 'static,
        P: AuthPrompt + 'static,
        TE: ErrorResponse + 'static,
        TR: openidconnect::TokenResponse<AC, GC, JE, JS> + 'static,
        TIR: TokenIntrospectionResponse + 'static,
        RT: RevocableToken + 'static,
        TRE: ErrorResponse + 'static,
        HasAuthUrl: EndpointState + 'static,
        HasDeviceAuthUrl: EndpointState + 'static,
        HasRevocationUrl: EndpointState + 'static,
        HasTokenUrl: EndpointState + 'static,
        HasUserInfoUrl: EndpointState + 'static
    >(
        client: openidconnect::Client<
            AC,
            AD,
            GC,
            JE,
            K,
            P,
            TE,
            TR,
            TIR,
            RT,
            TRE,
            HasAuthUrl, HasDeviceAuthUrl, EndpointNotSet, HasRevocationUrl, HasTokenUrl, HasUserInfoUrl
        >,

    ) -> Result<openidconnect::Client<
            AC,
            AD,
            GC,
            JE,
            K,
            P,
            TE,
            TR,
            TIR,
            RT,
            TRE,
            EndpointSet, EndpointSet, EndpointNotSet, EndpointSet, EndpointSet, EndpointSet
        >, ParseError
    >
     {
        Ok(client.set_auth_uri(AuthUrl::new(Self::AUTH_URL.to_string())?)
        .set_device_authorization_url(DeviceAuthorizationUrl::new(Self::DEVICE_AUTHORIZATION_URL.to_string())?)
        // .set_introspection_url(IntrospectionUrl::new(Self::INTROSPECTION_URL.to_string())?)
        .set_revocation_url(RevocationUrl::new(Self::REVOCATION_URL.to_string())?)
        .set_token_uri(TokenUrl::new(Self::TOKEN_URL.to_string())?)
        .set_user_info_url(UserInfoUrl::new(Self::USER_INFO_URL.to_string())?))
    }

    fn core_client_from_discovery_metadata(metadata: DiscoveryMetadata)
    -> Result<CoreClientWithEndpoints, OAuthCLientConfigErr> {
        let client_id = Self::client_id().map_err(|e| OAuthCLientConfigErr::ClientIdVarError(e))?;
        let client_secret = Self::client_secret().map_err(|e| OAuthCLientConfigErr::ClientSecretVarError(e))?;
        let redirect_uri = Self::redirect_url().map_err(|e| OAuthCLientConfigErr::RedirectUrlParseError(e))?;
        
        let client = openidconnect::Client::from_provider_metadata(
            metadata,
            client_id,
            Some(client_secret)
        ).set_redirect_uri(redirect_uri);

        let client = Self::add_endpoints_to_client(
            client
        )?;

       Ok(client)
    }

    async fn new_client(
        db_conn: &'static DatabaseConnection,
        reqwest_client: &'static reqwest::Client
    ) -> Result<ConfiguredClient<Self>, OAuthCLientConfigErr> {
        match Self::issuer_url() {
            Ok(issuer_url) => {
                CoreProviderMetadata::discover_async(issuer_url, reqwest_client).then( async |result| {
                    match result {
                        Err(discovery_err) => {
                            Err(OAuthCLientConfigErr::DiscoveryError(discovery_err))
                        },
                        Ok(metadata) => {
                            let metadata_clone = metadata.clone();
                            let jwks_uri = Box::new(
                                metadata_clone.jwks_uri().clone()
                            );
                            
                            match Self::core_client_from_discovery_metadata(metadata) {
                                Ok(core_client) => {
                                    let core_client_rwlock: &'static tokio::sync::RwLock<_> = Box::leak(
                                        Box::new(RwLock::new(Arc::new(core_client)))
                                    );
                                    let configured_client = ConfiguredClient::<Self> {
                                        client: core_client_rwlock,
                                        client_config: std::marker::PhantomData::<Self>::default(),
                                        csrf_nonce_pkce_store: Box::leak(Box::new(
                                            Mutex::new(
                                                CsrfNoncePkceStore::new()
                                            )
                                        )),
                                        reqwest_client,
                                        db_conn
                                    };

                                    // Spawn the task that keeps the provider client's jwks updated
                                    tokio::spawn(ExpiringJwks::update_loop::<Self>(
                                        core_client_rwlock,
                                        reqwest_client,
                                        Box::leak(jwks_uri),
                                        metadata_clone
                                    ));
                                    Ok(configured_client)
                                }, Err(e) => {
                                    Err(e)
                                }
                            }
                        }
                    }
                }).await
            }, Err(e) => {
                futures::future::err(
                    OAuthCLientConfigErr::RedirectUrlParseError(e)
                ).await
            }
        }
    }
}
```

The DatabaseConnection may or may not be appropriate for your needs, of course. Also, I'm realizing that I left out the jwks refresh logic.


```
pub struct ExpiringJwks {
    jwks: CoreJsonWebKeySet,
    exp: Instant
}

impl ExpiringJwks {

    const HEADER_NAME_ACCEPT: http::header::HeaderName = http::header::HeaderName::from_static("accept");
    const JWKS_MIME_TYPE: http::HeaderValue = http::HeaderValue::from_static("application/json");

    // copied vertabim from JsonWebKeySet::fetch_async, which is private
    fn jwks_fetch_request(jwks_url: &JsonWebKeySetUrl) -> Result<HttpRequest, http::Error>  {
        http::Request::builder()
            .uri(jwks_url.to_string())
            .method(reqwest::Method::GET)
            .header(
                Self::HEADER_NAME_ACCEPT,
                Self::JWKS_MIME_TYPE
            )
            .body(Vec::new())
    }

    pub async fn jwks_fetch_async<'c, C: openidconnect::AsyncHttpClient<'c>>(
        jwks_url: &JsonWebKeySetUrl,
        http_client: &'c C
    ) -> Result<
        Self,
        ExpiringJwksError<
            <C as openidconnect::AsyncHttpClient<'c>>::Error
        >
    > {
        let fetch_request = Self::jwks_fetch_request(jwks_url)
        .map_err(|err| openidconnect::DiscoveryError::Other(
            format!("failed to prepare request: {err}")
        ));

        let req_timestamp = tokio::time::Instant::now();

        let resp = http_client
        .call(fetch_request?)
        .await
        .map_err(openidconnect::DiscoveryError::Request)?;
            
        Self::jwks_fetch_response::<
            <C as openidconnect::AsyncHttpClient<'c>>::Error
        >(req_timestamp, resp)
    }

    fn jwks_fetch_response<RE>(
        request_timestamp: tokio::time::Instant,
        http_response: HttpResponse
    ) ->
        Result<Self, ExpiringJwksError<RE>>
    where
        RE: std::error::Error + 'static,
    {
        if http_response.status() != StatusCode::OK {
            return Err(ExpiringJwksError::Discovery(DiscoveryError::Response(
                http_response.status(),
                http_response.body().to_owned(),
                format!("HTTP status code {}", http_response.status()),
            )));
        }

        Self::check_content_type(
            http_response.headers(),
            "application/json"
        )
        .or_else(|err| {
            Self::check_content_type(
                http_response.headers(),
                "application/jwk-set+json"
            ).map_err(|_| err)
        })
        .map_err(|err_msg| {
            DiscoveryError::Response(
                http_response.status(),
                http_response.body().to_owned(),
                err_msg,
            )
        })?;

        let cache_control = <headers::CacheControl as headers::Header>::decode(
            &mut http_response.headers().values()
        )?;

        let max_age = cache_control.max_age().ok_or(
            ExpiringJwksError::NoMaxAge
        )?;

        let exp = request_timestamp.checked_add(
            tokio::time::Duration::from(max_age)
        ).ok_or(ExpiringJwksError::ExpirationOverflow)?;

        let jwks: CoreJsonWebKeySet = serde_path_to_error::deserialize(
            &mut serde_json::Deserializer::from_slice(http_response.body()))
        .map_err(DiscoveryError::Parse)?;

        Ok(ExpiringJwks { jwks, exp })
    }

    // copied vertabim from openidconnect::http_utils::check_content_type
    fn check_content_type(headers: &HeaderMap, expected_content_type: &str) -> Result<(), String> {
    headers
        .get("content-type")
        .map_or(Ok(()), |content_type|
            // Section 3.1.1.1 of RFC 7231 indicates that media types are case insensitive and
            // may be followed by optional whitespace and/or a parameter (e.g., charset).
            // See https://tools.ietf.org/html/rfc7231#section-3.1.1.1.
            if !Self::content_type_has_essence(
                content_type, expected_content_type
            ) {
                Err(
                    format!(
                        "Unexpected response Content-Type: {:?}, should be `{}`",
                        content_type,
                        expected_content_type
                    )
                )
            } else {
                Ok(())
            }
        )
    }

    // The [essence](https://mimesniff.spec.whatwg.org/#mime-type-essence) is the <type>/<subtype>
    // representation.
    fn content_type_has_essence(content_type: &HeaderValue, expected_essence: &str) -> bool {
    #[allow(clippy::or_fun_call)]
    content_type
        .to_str()
        .ok()
        .filter(|ct| {
            ct[..ct.find(';').unwrap_or(ct.len())].to_lowercase() == expected_essence.to_lowercase()
        })
        .is_some()
    }

    // continuously updates the jwks in the client
    pub async fn update_loop<P: Provider>(
        oidc_client_rwlock: &'static RwLock<Arc<CoreClientWithEndpoints>>,
        reqwest_client: &'static reqwest::Client,
        jwks_uri: &'static JsonWebKeySetUrl,
        discovery_metadata: DiscoveryMetadata
    ) {
        let mut current_exp = Instant::now();
        loop {
            let ExpiringJwks {
                jwks,
                exp
            } = Self::fetch_next_before_exp(
                jwks_uri, reqwest_client, current_exp
            ).await;
            current_exp = exp;

            let new_metadata = discovery_metadata.clone().set_jwks(jwks);
            // Jesus christ, does this really have to consume self here
            match P::core_client_from_discovery_metadata(new_metadata) {
                Ok(core_client) => {
                    let core_client_arc = Arc::new(core_client);
                    let mut write_lock = oidc_client_rwlock.write().await;
                    *write_lock = core_client_arc;
                },
                Err(e) => {
                    eprintln!(
                        "Error while creating {} client from provider metadata: {}",
                        e,
                        P::PROVIDER_NAME_LOWERCASE
                    );
                }
            }
        }
    }

    // How soon before expiration we start a new request
    const REFRESH_THRESHOLD_SECONDS: Duration = Duration::from_secs(60);

    async fn fetch_next_before_exp(
        jwks_url: &'static JsonWebKeySetUrl,
        client: &'static reqwest::Client,
        exp: Instant
    ) -> ExpiringJwks {
        // The time to check for a new jwks
        // (one minute before max-age after we last checked)
        let fetch_at = exp.checked_sub(
            Self::REFRESH_THRESHOLD_SECONDS
        ).unwrap_or(Instant::now());

        tokio::time::sleep_until(fetch_at).await;

        Self::try_fetch_loop(jwks_url, client).await
    }

    // Keep trying to fetch a new ExpiringJwks until we succeed
    async fn try_fetch_loop(
        jwks_url: &'static JsonWebKeySetUrl,
        client: &'static reqwest::Client
    ) -> ExpiringJwks {
        // TODO: maybe do something smarter to handle failures?
        loop {
            match ExpiringJwks::jwks_fetch_async(jwks_url, client).await {
                Ok(expiring_jwks) => {
                    return expiring_jwks
                },
                Err(e) => {
                    eprintln!("Error fetching jwks: {}", e);
                }
            }
        }
    }
}

#[derive(Debug, thiserror::Error)]
pub enum ExpiringJwksError<RE: std::error::Error + 'static> {
    #[error("Discovery Error while fetching jwks: {0}")]
    Discovery(#[from] DiscoveryError<RE>),
    #[error("Error decoding Cache-Control heaver from jwks response: {0}")]
    HeaderDecode(#[from] headers::Error),
    // #[error("No Cache-Control header present in jwks response")]
    // NoCacheControl,
    #[error("No max-age directive present in Cache-Control header value")]
    NoMaxAge,
    #[error("overflow when adding max-age to jwks request timestamp")]
    ExpirationOverflow
}


#[derive(Debug, thiserror::Error)]
pub enum OAuthCLientConfigErr {
    #[error("Redirect url parse error: {0}")]
    RedirectUrlParseError(openidconnect::url::ParseError),
    #[error("Provider discovery error: {0}")]
    DiscoveryError(#[from] openidconnect::DiscoveryError<HttpClientError<openidconnect::reqwest::Error>>),
    #[error("Failed to fetch client id from environment variable: {0}")]
    ClientIdVarError(std::env::VarError),
    #[error("Failed to fetch client secret from environment variable: {0}")]
    ClientSecretVarError(std::env::VarError),
    #[error("Generic parse error while configuring OAuth client: {0}")]
    Parse(#[from] ParseError)
}
```