It's not Obvious how to Specialize ProviderMetadata

I've got an OIDC provider, which in the discovery document may specify keys with other uses than `sig` or `enc`. This means that while trying to load Discovery data, I get the error:

```
keys[0].use: unknown variant `saml_ca`, expected `sig` or `enc` at line 1 column 25
unknown variant `saml_ca`, expected `sig` or `enc` at line 1 column 25', src\main.rs:73:48
```

I assume that the intention here is that I can specify my own `ProviderMetadata` instead of using `CoreProviderMetadata`, setting `CoreJsonWebKeyUse` to my own enum. However, this appears to be a futile exercise as best I can tell.

To override `CoreJsonWebKeyUse`, I also need to have to replace `CoreJsonWebKey`, which needs to implement `JsonWebKey`. Unfortunately, the majority of the code used to implement this within this code base is private. Which means basically I just have to rewrite the entire crate to do this.

Hopefully I've simply misunderstood something here and this is much easier than I'm making it for myself?

> I assume that the intention here is that I can specify my own `ProviderMetadata` instead of using `CoreProviderMetadata`, setting `CoreJsonWebKeyUse` to my own enum.

Yup, that's the intention. Unfortunately, you've stumbled upon what's clearly a rough edge in the current API: customizing any of the types used in the `JsonWebKey` trait: 
```rust
    JS: JwsSigningAlgorithm,
    JT: JsonWebKeyType,
    JU: JsonWebKeyUse,
```

I'm working on some improvements to address this, which might require breaking changes and a major version bump

Ah, I can see again how interdependent these types are, and why I originally settled for this API.

I'm considering two workarounds, and I wanted to try to better understand the scenario you're running into. Is the incompatible key the key you need for verifying the OIDC tokens, or is it some other key in the JWK set that the client could just skip over (e.g., using [`serde_with::VecSkipError`](https://docs.rs/serde_with/2.0.1/serde_with/struct.VecSkipError.html) behind a cargo feature flag)?

The other approach would be to add an escape hatch `CoreJsonWebKeyUse::Other(String)` variant, which wouldn't be a breaking change since `CoreJsonWebKeyUse` is `#[non_exhaustive]`. Note that the current implementation of `<CoreJsonWebKey as JsonWebKey>::verify_signature` wouldn't allow such a key to be used for verifying signatures, but at least the provider metadata would parse successfully: https://github.com/ramosbugs/openidconnect-rs/blob/b02b5d7f2d91ffb1d1b0c0040eba47dd5f69ccdb/src/core/jwk.rs#L165-L169

> Is the incompatible key the key you need for verifying the OIDC tokens, or is it some other key in the JWK set that the client could just skip over (e.g., using [serde_with::VecSkipError](https://docs.rs/serde_with/2.0.1/serde_with/struct.VecSkipError.html) behind a cargo feature flag)?

In my case it's a key that I don't need for validating this client. These keys are used to support the providers SAML integration, which doesn't come into play here since I'm just using OIDC for this app.

It might be reasonable for `JsonWebKeyUse` to simply use `#[serde(other)]` https://serde.rs/variant-attrs.html on a new variant - I.E. Assume all keys other than `sig` and `enc` are just not used in this flow.

If that doesn't appeal, what if the implementation for `JsonWebKey` was for generic types that implement a trait that each of the core enum types implement? I might create a fork and see if this is a reasonable approach for the medium term that doesn't feel too much like a hack.

This comment from the code seems to imply that the `other` variant might be the preferred approach

> From RFC 7517, Section 4: "Additional members can be present in the JWK; if not understood
> by implementations encountering them, they MUST be ignored

I've created a PR for the simple case - side by side with that I'm investigating making the implementation of `JsonWebKey` more generic.

OK, yea, making this generic is a tall order at the moment. I think the `other` variant is a reasonably good option given the effort needed to do something more comprehensive

Testing my fork now against my previous issue

OK, that worked. The other key types were ignored and I got a complete PKCE into token exchange plus ID token verification to work.

> This comment from the code seems to imply that the `other` variant might be the preferred approach
> 
> > From RFC 7517, Section 4: "Additional members can be present in the JWK; if not understood
> > by implementations encountering them, they MUST be ignored

I think this is referring to additional members of the JSON map, rather than additional values for the `use` field. The serde deserialization used by this crate does ignore unrecognized JSON map members.

For `use`, it just says:

>  Other values MAY be used.  The "use" value is a case-sensitive
>   string.  Use of the "use" member is OPTIONAL, unless the application
>   requires its presence.


That seems like a more accurate reading. Though it looks like the thinking still applies. For me the fix (and updated PR) addresses my immediate issue and I'm able to get a working login. This was a login from Zitadel by the way using a fairly standard PKCE application, in case you wanted to confirm the behaviour your self.

The `use` fix has now been released in [2.4.0](https://crates.io/crates/openidconnect/2.4.0)!

Nice! 🚀
I'm happy for this issue to just be about the key use field and close this; with the longer term problem of how to override key use or key type can be saved for another day. Alternatively, you can keep this open to track that, either works for me.

I'll go ahead and close for now 👍 