Need to override discovery document url

Hey there. I am trying to use this lib (3.5.0 version) to auth to Intuit's sandbox. The discovery url for that system is at this URL: `https://developer.api.intuit.com/.well-known/openid_sandbox_configuration`.

I looked through the code for openidconnect (both 3.5.0 and main branch). It seems to assume that the discovery doc it located at the issuer url with "/.well-known/openid-configuration" appended to the end. Is there any way I can override the appended part of the url for the discovery document so that I can auth to the intuit sandbox?

Hi @wt,

Unfortunately, Intuit isn't following the [spec](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderConfig), which is clear about the relationship between the issuer URL and the discovery URL:
> OpenID Providers supporting Discovery MUST make a JSON document available at the path formed by concatenating the string `/.well-known/openid-configuration` to the Issuer.

For sandbox environments, they should be using a distinct issuer URL from their production environment (ideally a different subdomain, but at least a different directory). Having multiple sets of tokens and keys for a given issuer URL can easily lead to security vulnerabilities in client apps, so it's not something I want to support directly in this crate.

As a workaround, you can define a [custom HTTP client](https://docs.rs/openidconnect/4.0.0-rc.1/openidconnect/index.html#http-clients) that rewrites the request URL from the spec-compliant one to the one Intuit expects. The built-in  `reqwest` clients defined [here](https://github.com/ramosbugs/oauth2-rs/blob/9a2b746f76c5d0f9a7a02a1916bd509668fcaee3/src/reqwest_client.rs) (for the `main` branch) should provide a starting point for any needed customization. Hope that helps!

Thanks. This is really helpful. I definitely see how Intuit's api is not compliant. It's really unfortunate that it's this hard to work around. I wonder if there is room for an example that implements this kind of workaround?

It might also be helpful to have a comment in the code to indicate that the OIDC spec has a MUST requirement for the location of the discovery doc relative to the issuer. At least that way you wouldn't have to rehash this issue ever again? Maybe just a link to this issue?

> I wonder if there is room for an example that implements this kind of workaround?

There aren't currently any examples illustrating a custom HTTP client, and I'd welcome one since it's an escape hatch I suggest a lot.

> It might also be helpful to have a comment in the code to indicate that the OIDC spec has a MUST requirement for the location of the discovery doc relative to the issuer. At least that way you wouldn't have to rehash this issue ever again? Maybe just a link to this issue?

Agreed

I finally got back to this and I wrote a custom reqwest-based http client. See it [here](https://github.com/wt/qbcli). The custom client will rewrite the url for a production discovery document to the URL for the sandbox discovery document. It doesn't support anything more right now.

This client only tries to get the discovery doc. It doesn't work due to the Issuer url check [here](https://github.com/ramosbugs/openidconnect-rs/blob/202c8b1d9338ce2304d87816efb56d4abd0a5bb7/src/discovery/mod.rs#L383-L391).

Here's the error:
```
wt@braindead ~/p/q/qbcli (main) [1]> cargo run -q
(Parts { method: GET, uri: https://developer.api.intuit.com/.well-known/openid-configuration, version: HTTP/1.1, headers: {"accept": "application/json"} }, [])
Error: Validation error: unexpected issuer URI `https://oauth.platform.intuit.com/op/v1` (expected `https://developer.api.intuit.com`)
```

Would it be possible to allow relaxing the issuer check to check for a manually specfied issuer URL? FWIW, I do understand that this isn't compliant with the spec for OIDC. However, quickbooks is a pretty big hole to not allow any path for support.

Also, it might be worth noting that [RFC 8414 section 3](https://datatracker.ietf.org/doc/html/rfc8414#section-3) does indicate that there may be some appetite for allowing different well-known URLs, so it might be worth supporting an override of the well-known URL anyway.